<template>
  <nav>
    <ul>
      <li>
        <router-link to="/">Home</router-link>
      </li>
      <li>
        <router-link to="/games">Game List</router-link>
      </li>
      <li>
        <router-link to="/vuex-games">Vuex Game List</router-link>
      </li>
    </ul>
  </nav>
</template>

<script lang="ts" setup></script>

<style scoped>
li {
  list-style: none;
  padding: 0px 5px 5px 5px;
  display: inline-block;
}
</style>
