<template>
  <div>
    <h1>Game Data</h1>
    <div v-for="game of games">
      <h2>{{ game.name }} (id: {{ game.game_id }})</h2>
      {{ game.game_description }}
    </div>
  </div>
</template>

<script setup lang="ts">
import { onMounted, ref, Ref } from "vue";

const games: any = ref(null);

const loadData = async () => {
  const response = await fetch("https://dk-hvz-backend.herokuapp.com/api/game");
  if (response.ok) {
    const data = await response.json();
    console.log(data);
    console.log(data.payload);

    games.value = data.payload;
  }
};
onMounted(() => {
  loadData();
});
</script>
