<template>
  <div>
    <h1>Vuex Games List</h1>

    <div>
      The Count: {{ count }}
      <button @click="updateCounter">+1</button>
    </div>
    <div v-for="game of games" v-if="games.length > 0">
      <h2>{{ game.name }} (id: {{ game.game_id }})</h2>
      {{ game.game_description }}
    </div>
    <div v-else>No games to show.</div>
  </div>
</template>

<script lang="ts" setup>
import { computed, ref, Ref } from "vue";
import { useStore } from "vuex";
import { IGame } from "../interfaces/IGame";

const store = useStore();

//#region gameModule

const games : Ref<IGame[]> = computed(() => store.state.gameModule.games);

store.dispatch("gameModule/fetchGames");

//#endregion

//#region CounterModule
const count: Ref<Number> = computed(() => store.state.counterModule.count);

store.dispatch("counterModule/incrementCounterAction");

const updateCounter = () => {
  store.dispatch("counterModule/incrementCounterAction");
};
//#endregion

</script>
